$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Dimensions

$font-size-base: 14px;
$font-size-large: ceil($font-size-base * 1.25);
$font-size-small: ceil($font-size-base * 0.85);

$font-size-h1: floor($font-size-base * 2.6);
$font-size-h2: floor($font-size-base * 2);
$font-size-h3: ceil($font-size-base * 1.7);
$font-size-h4: ceil($font-size-base * 1.25);
$font-size-h5: $font-size-base;
$font-size-h6: ceil($font-size-base * 0.85);

$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

$grid-gutter-width: 30px;

// Colors
$blue: rgb(53, 152, 220);
$green: rgb(27, 188, 129);
$yellow: rgb(247, 200, 16);
$red: rgb(236, 64, 75);
$purple: rgb(184, 21, 112);
$white: #fff;
$black: #000;
$pale-grey: #f7f7f5;
$light-grey: #e9edef;
$mid-grey: #2b3643;
$dark-grey: #262626;

$body-bg: $light-grey;
$text-color: $dark-grey;

$brand-primary: $blue;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $yellow;
$brand-danger: $red;

$navbar-default-bg: $mid-grey;
$navbar-default-brand-color: $white;
$navbar-default-brand-hover-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-active-color: $light-grey;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg: lighten($mid-grey, 3%);

$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;

$well-bg: $light-grey;
$well-border: darken($light-grey, 3%);

$btn-font-weight: bold;

// Breakpoints
$screen-xs: 480px;
$screen-sm: 768px;

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/**
 * Tables
 */

table {
  border: 1px solid $table-border-color;
}

.table thead tr th {
  background: $white;
  color: $dark-grey;
  border: 0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: $white;
}

.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: lighten($light-grey, 5%);
}

td {
  vertical-align: middle !important;
}

//Sortable table header container
.sortable {
  span,
  div {
    display: table-cell;
    vertical-align: bottom;
  }

  .btn:hover {
    text-decoration: none;
  }
}

/**
 * Buttons
 */

.btn {
  border: 0;
  transition: 150ms all ease-in-out;
}

/**
 * Navbar
 */

.navbar-default {
  border: 0;
  padding-left: floor( $grid-gutter-width / 2 );
  padding-right: floor( $grid-gutter-width / 2 );
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 5;

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    transition: 150ms background ease-in-out;
  }
}

.navbar-brand {
  font-weight: bold;
}

/**
 * Sidebar & Main Container
 */

.page-content {
  min-height: 100%;
}

.main {
  background-color: $pale-grey;
  min-height: 100%;
  position: absolute;
  padding-top: 50px;
}

.sidebar {
  background-color: $light-grey;
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 20px;
  position: absolute;
}

/**
 * Wells
 */

.well {
  border: 0;
  border-radius: $border-radius-base;
  box-shadow: none;
  padding: 1em;
}

/**
 * Forms
 */

.form-inline {
  .form-group {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  .control-label {
    margin-right: 0.5em;
  }

}

/**
 * Search tools
 */

.participant-count {
  span {
    font-size: $font-size-base;
    font-weight: bold;
  }
  .h2 {
    line-height: 1;
    margin: 0;
  }
}

/**
 *
 */

.acceptance-colunms {
  text-align: center;
}

.field p.form-control-static {
  display: none; // this is a dirty hack - we use FormControls.Static to hold several fields on one row
}

.delete {
  color: $brand-danger;

  &:hover {
    color: darken($brand-danger, 6.5%);
  }
}

.toolBar {
  margin: 20px 0;
}

@media screen and (max-width: $screen-sm) {
  .sidebar {
    position: relative;
    padding: floor( $grid-gutter-width / 2 );
  }

  .main {
    height: auto;
    padding: floor( $grid-gutter-width / 2 );
    position: relative;
  }

  .navbar-default {
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .page-content {
    min-height: auto;
  }

}
