$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// Dimensions

$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

$grid-gutter-width: 30px;

// Colors
$blue: rgb(53, 152, 220);
$green: rgb(27, 188, 129);
$yellow: rgb(247, 200, 16);
$red: rgb(236, 64, 75);
$purple: rgb(184, 21, 112);
$white: #fff;
$black: #000;
$pale-grey: #f7f7f7;
$light-grey: #e9edef;
$mid-grey: #2b3643;
$dark-grey: #262626;
$pale-grey: #f7f7f5;

$body-bg: $pale-grey;

$brand-primary: $blue;
$brand-success: $green;
$brand-info: $blue;
$brand-warning: $yellow;
$brand-danger: $red;

$navbar-default-bg: $mid-grey;
$navbar-default-brand-color: $white;
$navbar-default-brand-hover-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg: lighten($mid-grey, 3%);

$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;

$btn-font-weight: bold;

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/**
 * Scaffolding
 */

body {
  color: $dark-grey;
}

/**
 * Tables
 */

table {
  border: 1px solid $table-border-color;
}

.table thead tr th {
  background: $white;
  color: $dark-grey;
  border: 0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: $white;
}

.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: lighten($light-grey, 5%);
}

td {
  vertical-align: middle !important;
}

/**
 * Buttons
 */

.btn {
  border: 0;
  transition: 150ms all ease-in-out;
}

/**
 * Navbar
 */

.navbar-default {
  border: 0;
  padding-left: floor( $grid-gutter-width / 2 );
  padding-right: floor( $grid-gutter-width / 2 );
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  transition: 150ms background ease-in-out;
}

.navbar-brand {
  font-weight: bold;
}

/**
 * Sidebar & Main Container
 */

.main {}

.sidebar {
  background-color: $light-grey;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 50px;
  z-index: 20;
}

/**
 *
 */

.acceptance-colunms {
  text-align: center;
}

.field p.form-control-static {
  display: none; // this is a dirty hack - we use FormControls.Static to hold several fields on one row
}

.delete {
  color: $brand-danger;

  &:hover {
    color: darken($brand-danger, 6.5%);
  }
}

.toolBar {
  margin: 20px 0;
}
